<header>
<nav class="navbar navbar-expand-xxl navbar-dark bg-dark style="background-color: #e3f2fd;">
<ul>
<li>
 <a href="/"> Home </a>
</li>
<li>
 <a href="/"> About </a>
</li>
<li>
 <a href="/"> Contact </a>
</li>
</ul>
</nav>


</header>
